* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

header {
    margin-top: -30px;
    display: block;
    width: 100%;
    padding: 8px;
    background-color: #ff5600;
    position: fixed;
}

section {
    background-color: #f8f4ff;
    margin-top: 30px;
}

nav a {
    padding: 0 10px;
    color: #000;
    text-decoration: none;
}

#ini-judul {
    text-decoration: underline;
}

nav a:hover {
    background-color: #fff;
    color: #0011ff;
}

section h1 {
    font-family: "Bitcount Prop Single", system-ui;
    padding: 20px;
    text-align: center;
}

section p {
    padding: 20px 12%;
    text-align: justify;
}

h1 span:hover {
    cursor: pointer;
    color: #ff5600;
}

.section2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

figcaption {
    text-align: center;
}

.section3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

.section3 img {
    width: 310px;
    height: 200px;
}

.section2 img {
    /* padding: 20px 12%; */
    padding: 10px;
    width: 310px;
    height: 200px;
}

footer {
    text-align: center;
    background-color: #ff5600;
}

footer svg {
    padding: 3px 15px 0px;
    width: 30px;
    height: 30px;
}

#ini-judul-medsos {
    padding-top: 9px;
}

.copyrightyesaya {
    color: #f8f4ff;
}